<mat-nav-list>
  <a mat-list-item routerLink="/signup" *ngIf="!isAuthenticated">
    <button mat-icon-button>
      <mat-icon>how_to_reg</mat-icon>
    </button>Signup
  </a>
  <a mat-list-item routerLink="/login" *ngIf="!isAuthenticated">
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
    Login
  </a>
  <a mat-list-item routerLink="/training" *ngIf="isAuthenticated">
    <button mat-icon-button>
      <mat-icon>model_training</mat-icon>
    </button>Training
  </a>
  <a mat-list-item routerLink="" *ngIf="isAuthenticated" (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>how_to_reg</mat-icon>
    </button>
    Logout
  </a>
</mat-nav-list>
