<mat-nav-list>
  <a mat-list-item routerLink="/signup">
    <button mat-icon-button>
      <mat-icon>how_to_reg</mat-icon>
    </button>Signup
  </a>
</mat-nav-list>
<mat-nav-list>
  <a mat-list-item routerLink="/login">
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>Login
  </a>
</mat-nav-list>
<mat-nav-list>
  <a mat-list-item routerLink="/training">
    <button mat-icon-button>
      <mat-icon>model_training</mat-icon>
    </button>Training
  </a>
</mat-nav-list>
<mat-nav-list>
  <a mat-list-item routerLink="/logout">
    <button mat-icon-button>
      <mat-icon>how_to_reg</mat-icon>
    </button>logout
  </a>
</mat-nav-list>
