<mat-toolbar color="primary">
<button (click)="toggle()" mat-icon-button>
  <mat-icon>menu_open</mat-icon>
</button>
<div>
  <ul fxLayout fxLayoutGap="12px">
    <li *ngIf="isAuthenticated"><a routerLink="/training">Training</a></li>
  </ul>
</div>
<div fxFlex fxLayout fxLayoutAlign="flex-end">
  <ul fxLayout fxLayoutGap="12px">
    <li *ngIf="!isAuthenticated"><a routerLink="/signup">Signup</a></li>
    <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
    <li *ngIf="isAuthenticated"><a routerLink="" (click)="onLogout()">Logout</a></li>
  </ul>
</div>
</mat-toolbar>
